section fieldset,
#controls,
#shapeContainer {
    max-width: 450px;
    margin: 10px 40px 10px 40px;
}

#args label input {
    width: 70px;
    margin-bottom: 5px;
}

#shapeContainer {
    border: 1px solid gray;
    min-height: 450px;
    width: 450px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#shapeContainer circle,
#shapeContainer rect,
#shapeContainer polygon {
    fill: green;
}