table {
    border-collapse: collapse;
    width: 70%;
    height: 200px;
    margin-bottom: 20px;
    table-layout: fixed;
}

table tbody tr {
    cursor: pointer;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 12, 5%;
}

th {
    background-color: rgba(102, 205, 171, 0.306);
}

canvas {
    max-width: 70%;
    height: 200px;
}