#windowControls,
#messageContainer {
    margin: 40px;
}

#windowControls button {
    width: 170px;
}

#messageContainer #dest,
#messageContainer #message {
    margin-bottom: 15px;
}

#messageContainer #message {
    min-width: 350px;
    max-width: 750px;
    min-height: 200px;
    max-height: 450px;
}