.app {
    text-align: center;
    margin: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    gap: 2px;
  }
  
  .row {
    display: contents;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
  }
  
  .cell:focus {
    outline: none;
    border: 2px solid #00f;
  }

  button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: mediumaquamarine;
  }