.app {
  text-align: center;
  margin: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 40px);
}

.row {
  display: contents;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
}

.cell:focus {
  outline: none;
  background-color:aquamarine;
}

.board>.row:nth-child(3n)>.cell {
  border-bottom: 2px solid black;
}

.board>.row:nth-child(1)>.cell,
.board>.row:nth-child(4)>.cell,
.board>.row:nth-child(7)>.cell {
  border-top: 2px solid black;
}

.board>.row>.cell:nth-child(3n) {
  border-right: 2px solid black;
}

.board>.row>.cell:nth-child(1),
.board>.row>.cell:nth-child(4),
.board>.row>.cell:nth-child(7) {
  border-left: 2px solid black;
}


button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: mediumaquamarine;
}